
header{
    padding: 10px;
    background-color: white;
}

body{
    background-color: white;
    padding: 10px;
    background-color: #FAB972;
    color: black
}


p{

  color: #FC4600;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#FFF296;
  border-color: #FF6961;
  border-style: solid;
  border: 4px, solid;
  text-align: center;
  margin: 5px;
  padding: 10px;
  margin-bottom: 2%;
  width: 80%;
  margin-left: 10%;
  font-weight: bold;
  

}



nav ul{
    background-color: #FAB972;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}



nav li{
    padding: 10px;
    border: 2px, solid;
    list-style-type: none;
    float: left;
    width: 11%;
    background-color: #FF6961;
    list-style-type: none;

}

nav li a{
    border: 2px solid;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color: #FC4600;;
}


table {
    background-color: #FF6961;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }
  
  table td, table th {
    border: 2px solid #F0F0F0;
    text-align: center;
    padding: 67.5px;
  }
  
  table tr:nth-child(even) {
    background-color: #FC4600;
  }
  
  table tr:hover {
    background-color: #FAB972;
  }
  
  table th {
    background-color: #FF6961;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }

  .rounded-circle{
    display: block;
    width: 120px; /* Set the width of the image */
    height: 120px; /* Set the height of the image */
    border-radius: 50%; /* Set the border-radius to 50% to make the image a circle */
    object-fit: cover; /* Set the object-fit property to cover to prevent image distortion */
    overflow: hidden; /* Hide any image overflow outside the rounded circle */
  }

  .image-container {
    margin: 10px;
    display: inline-block;
    vertical-align: top;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  img:hover + .overlay img {
    transform: translate(0);
  }
  
  