
header{
    padding: 10px;
    background-color: white;
}

body{
    background-color: white;
    padding: 10px;
    background-color: #FAB972;
    color: black
}






nav ul{
    background-color: #FAB972;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}



nav li{
    padding: 16px;
    border: 2px, solid;
    list-style-type: none;
    float: left;
    width: 15%;
    background-color: #FF6961;
    list-style-type: none;

}

nav li a{
    border: 2px solid;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color: #FC4600;;
}


table {
    background-color: #FF6961;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }
  
  table td, table th {
    border: 2px solid #F0F0F0;
    text-align: center;
    padding: 67.5px;
  }
  
  table tr:nth-child(even) {
    background-color: #FC4600;
  }
  
  table tr:hover {
    background-color: #FAB972;
  }
  
  table th {
    background-color: #FF6961;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }