
header{
    padding: 10px;
    background-color: white;
}

.logo{
    padding: 10px;
    float: left;
    margin-right: 10px;

}
body{
    padding: 10px;
    background-color: lightblue;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    padding: 10px;
    color: black;
    background-color: white;
    display: inline;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px, solid;
}


main{
    padding: 10px;
    background-color: white;
    color: black;
}


nav ul{
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}



nav li{
    padding: 16px;
    border: 2px, solid;
    list-style-type: none;
    float: left;
    width: 15%;
    background-color: darkblue;
    list-style-type: none;

}

nav li a{
    border: 2px solid;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color: black;
}

.hardCarry{
    float: left;
}

h2{
    text-align: center;
    color: orangered;
    border: 2px, solid;
    background-color: darkblue;
    border-color: orange;
    border-style: solid;


}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}